*{
    padding:0;
    margin: 0;
    font-family: serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#00feba,#5b5484);
  color: #fff;
  text-align: center;
  margin: 100px auto 0;
  padding: 40px 35px;
  border-radius: 20px;
}
.search{
     width: 100%;
     display: flex;
     justify-content:space-between;
     align-items: center;
}
.search input{
    border: 0;
    outline: 0;
    border-radius: 30px;
    height: 60px;
    background-color: #ebfffc;
    color: black;
    padding: 15px;
    text-align: center;
    margin: 16px;
    text-align: start;
    margin-left: 3.5em;
    font-size: 18px;
    flex: 1;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.search img{
    width: 16px;
}